@import "tailwindcss";

*{

  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: 'Times New Roman', Times, serif;  

 
  
}

html {
  scroll-behavior: smooth;
}

@theme {
  --font-outfit: "Outfit" sans-serif;
  --font-ovo: "Ovo", serif;
}


:root{
   --lightHover: #fbf4fe;
    --darkHover: #310056;
    --darkTheme: #140024;
    --black: '4px 4px 0 #000';
    --white: '4px 4px 0 #fff';
}

